Node-Red App/flows.json
[{"id":"f41f45ec.b1c9e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfa87b43.59f1a8","type":"ui_form","z":"f41f45ec.b1c9e8","name":"","label":"","group":"7b824d8.d2b28b4","order":1,"width":0,"height":0,"options":[{"label":"Name ","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone No.","value":"no","type":"number","required":false,"rows":null},{"label":"Password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","no":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":160,"wires":[["bf4da6cd.a3c458","6d32cbc6.549ba4"]]},{"id":"bf4da6cd.a3c458","type":"debug","z":"f41f45ec.b1c9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"6d32cbc6.549ba4","type":"function","z":"f41f45ec.b1c9e8","name":"","func":"var name = msg.payload.name;\nmsg.payload = \"Welcome \" + name + \", you are online now.\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["fd436b7a.2e18f8"]]},{"id":"fd436b7a.2e18f8","type":"ui_text","z":"f41f45ec.b1c9e8","group":"7b824d8.d2b28b4","order":3,"width":0,"height":0,"name":"","label":"Status :     ","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":160,"wires":[]},{"id":"7b824d8.d2b28b4","type":"ui_group","z":"","name":"XYZ","tab":"ed783479.c30c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed783479.c30c98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
